<!-- profiles partials -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Profiles</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" ng-model="profile.search_name" placeholder="rechercher pseudo">
        <input type="checkbox" name="live_checkbox" ng-model="only_live"> Montrer seulement ceux en live</input>
        <hr>
        <ul class="list-group">
          <li class="list-group-item clearfix"
          ng-repeat="profile in profiles | orderBy:'name' | filter:(only_live || '') && {is_live:true} | filter:{name:profile.search_name}"
          ng-class="{active : activeProfile === profile}"
          ng-click="setActive(profile)"
          >
          <span class="label " ng-class="{'label-default' : !profile.is_live, 'label-success' : profile.is_live}">{{profile.is_live ? 'live' : 'off'}}</span>
          {{profile.name}}
          <button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="deleteProfile(profile)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <form action="" id="profile-form" ng-submit="saveProfile(profile)">

        <div class="form-group">
          <label>Pseudo périscope:</label>
          <input type="text" class="form-control" ng-model="profile.name" placeholder="Ajouter le pseudo périscope">
        </div>
        <div class="form-group">
          <label>Description YouTube:</label>
          <textarea rows="4" class="form-control" ng-model="profile.description" placeholder="Ajouter le texte de description pour les video youtubes"></textarea>
        </div>

        <div class="form-group">
          <label>Hashtags YouTube:</label>
          <textarea rows="4" class="form-control" ng-model="profile.hashtags" placeholder="Ajouter les hashtags pour les video youtubes"></textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-show="profile._id">
            <span class="glyphicon glyphicon-ok" aria-hidden="true">Sauvegarder</span>
          </button>
          <button type="button" class="btn btn-warning" ng-show="profile._id" ng-click="cancelEdit()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true">Annuler</span>
          </button>
          <button type="submit" class="btn btn-success" ng-show="!profile._id">
            <span class="glyphicon glyphicon-plus" aria-hidden="true">Ajouter</span>
          </button>
        </div>

      </form>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="onair">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="profile in profiles | filter:{is_live:true}">
        <span>{{profile.name}}</span>
      </ul>
    </div>
  </div>
  <script>
    $("[name='live_checkbox']").bootstrapSwitch();
  </script>
</div>
